@import "tailwindcss";

body {
  margin: 0;
  background-color: #202124;
  color: white;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  overflow: hidden;
}

video {
  transform: scaleX(-1);
  object-fit: cover;
}

.no-mirror {
  transform: scaleX(1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3c3c3c;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4c4c4c;
}

/* Flexlayout overrides */
.flexlayout__layout {
  background-color: #1a1b1e !important;
}

.flexlayout__tabset {
  background-color: #1a1b1e !important;
}

.flexlayout__tabset_header {
  background-color: #1a1b1e !important;
}

.flexlayout__tab_button {
  background-color: #1a1b1e !important;
  color: #969696 !important;
  border-bottom: 2px solid transparent !important;
}

.flexlayout__tab_button--selected {
  background-color: #1a1b1e !important;
  color: #ffffff !important;
  border-bottom: 2px solid #007acc !important;
}
